.quem-somos{
    background-color: #2941ab;
}
.quem-somos .conteudo{
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.quem-somos .conteudo .informacoes{
    width: 40%;
}
.quem-somos .conteudo .imagem{
    width: 60%;
}

.quem-somos .conteudo .informacoes .titulo{
    font-size: 50px;
    color: #1ed760;
    margin-bottom: 20px;
}

.quem-somos .conteudo .informacoes .texto{
    font-size: 20px;
    line-height: 1.5;
    color: #fff;
    font-weight: 400;
}